/* stylesolicitar.css */

/* Título da Página */
.titulo-pagina {
  font-size: 45px;
  line-height: 40px;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 45%; 
  margin-top: 15px;
  margin-bottom: 40px; /* Reduzi a margem inferior para ganhar mais espaço na tela */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}




main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  justify-content: flex-start; /* Alinhe o conteúdo no topo */
  padding: 20px; /* Adicione preenchimento para espaçamento interno */
  overflow-y: auto; /* Adicione a propriedade overflow-y para permitir a rolagem vertical, se necessário */
  max-height: 80vh; /* Defina uma altura máxima de 80% da altura da janela (viewport) */
  
}


/* Seção Texto e Imagem */
.texto-imagem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* Estilo para a caixa de texto */
.caixa-texto-1,
.caixa-texto-2 {
  font-size: 18px;
  line-height: 30px;
  color: #FFF;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  width: 45%; /* Reduzi a largura para acomodar o conteúdo */
  height: auto; /* Altura ajustável para acomodar o conteúdo */
  max-height: 230px; /* Altura máxima para evitar que a caixa de texto fique muito alta */
  background: url(../../assets/caixaTexto.png) lightgray 50% / cover no-repeat;
  border-radius: 50px;
  box-shadow: 10px 10px 4px 0px #002890, 10px 10px 4px 0px #002890 inset;
  padding: 25px;
  margin-left: 25px;
}
.caixa-texto-1{
  margin-bottom:30px;
}

/* Estilo para a imagem OpenCV */
.imagem-opencv {
  margin-top: -60px; /* Movendo um pouco para cima */
  margin-right: -90px; /* Movendo para a direita */
  width: 45%;
  height: auto;
  max-height: 306px;
  border-radius: 50px;
}

/* Estilo para a imagem haarCascade */
.imagem-haarcascade {
  margin-top: 25px; /* Movendo um pouco para cima */
  margin-right: -90px; /* Movendo para a direita */
  width: 45%;
  height: auto;
  max-height: 306px;
  border-radius: 50px;
}
