/* stylesolicitar.css */


/* Título da Página */
.titulo-pagina {
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* Container principal */
main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

/* Seção Texto e Imagem */
.texto-imagem {
  display: flex;
  flex-direction: row; /* Alinha o texto e a imagem lado a lado */
  justify-content: center; /* Centraliza horizontalmente o texto e a imagem */
  align-items: flex-start; /* Alinha o texto ao topo */
}

/* Estilo para a caixa de texto */
.caixa-texto-1,
.caixa-texto-2 {
  font-size: 24px;
  line-height: 30px;
  color: #FFF;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
  width: 642px;
  height: 230px;
  background: url(../../assets/caixaTexto.png) lightgray 50% / cover no-repeat;
  border-radius: 50px;
  box-shadow: 10px 10px 4px 0px #002890, 10px 10px 4px 0px #002890 inset;
  margin-right: 20px; /* Espaçamento entre as caixas de texto */
  padding: 25px; /* Espaçamento interno da caixa de texto */
}


/* Estilo para a imagem OpenCV */
.imagem-opencv {
  width: 306px; /* Largura da imagem OpenCV */
  height: 306px; /* Altura da imagem OpenCV */
  margin-top: 20px; /* Espaçamento superior entre as imagens */
  border-radius: 50px; /* Borda arredondada */
}

/* Estilo para a imagem haarCascade */
.imagem-haarcascade {
  width: 306px; /* Largura da imagem haarCascade */
  height: 306px; /* Altura da imagem haarCascade */
  margin-top: 20px; /* Espaçamento superior entre as imagens */
  border-radius: 50px; /* Borda arredondada */

}