body{
  overflow: hidden;
}

.integrantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;
}

.integrantes img{
  max-width: 200px;
}
