#superContainer{
    display: flex;
}
#Container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#Container1 h1{
    font-size: 20px;
    text-align: center;
    

}
#Container1 h2{
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    
}

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
#texto{
    text-align: center;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 10px;
}
#motorista{
    width: 25vw;
    height: 30vh;
}
#Container2{
    display: flex;
    flex-direction: column;
    height: 50vh;
    
    text-align: center;
    font-size: 15px;
    font-weight: 400;
   
    
    justify-content: space-between;
    background-image: url('../../assets/caixa-2.png');
    background-repeat: no-repeat;
    background-size: 100%, 100%;


    

}
#tituloC2{
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}

#textoC2{
    margin: 10px auto;
    max-width: 85%;
    display: flex;
    word-wrap: break-word;
}
.botao{
    margin-bottom: 30px;
    border-radius:50px ;
    color: #002890;
    background-color: #ffff;
}
.botaoObj{

    display: flex;
    justify-content:end;
    text-align:start;
    border-radius:50px ;
    color: #002890;
    background-color: #ffff;

}

#containerObj{
    /* margin-top: 30px;
    display:flex;
    background-image: url('../../assets/caixa-2.png');
    background-repeat: no-repeat;
    height: 70px;
    width: 1393px;
     */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh; /* 100% da altura da janela do navegador */
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../../assets/caixa-2.png');
    
    

}
#conteudoObj{
    text-align: center;
    margin-bottom: 20px;
  
}
#botaoObj{
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#containerVei{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('../../assets/caixa-2.png'); 
    margin-left: 5px;
    
}
.conteudoVei{
  text-align: center;
  padding-top: 20px;
  margin: 10px auto;
  max-width: 80%;
  
}

#veiculos{
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
}
.veiculo {
    display:inline-table;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0 10px;
}

.veiculo p {
    margin: 0;
}

.veiculo .imagemVeiculo img{
    max-width: 12vw;
    max-height: 20vh;
}
.veiculo .imagemVeiculo#trailer img{
    max-width: 12vw;
    max-height: 20vh;
    
}